<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>

<!-- Favicon -->
<link rel="icon" href="../src/img/favicon.png">

<link href="../src/css/main.css" media="all" rel="stylesheet" type="text/css" />
<link href="../src/css/responsive.css" media="all" rel="stylesheet" type="text/css" data-premailer="ignore" />
</head>

<body>

	{{ body }}

</body>
</html>
