<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta charset="UTF-8">
	<title>{{ subject }}</title>

	<!-- Favicon -->
	<link rel="icon" href="../src/img/favicon.png">

	<!-- CSS INLINE -->
	<style>
		<inline src="../src/css/main.css" />
		<inline src="../src/css/responsive.css" />
	</style>
</head>

<body>

	{{ body }}
</body>
</html>
